
.gotopbtn{
  position: fixed;
  width: 60px;
  height: 60px;
  background: rgb(21, 33, 40);
  bottom: 90px;
  right: 24px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  z-index: 1000;

  border-radius: 70px;
}
